@page
@model seke_fylakeio.Pages.Zygisma.DeleteModel
@{
}

<h1>Διαγραφή</h1>

<h3>Είστε σίγουρος ότι θέλετε να διαγράψετε την συγκεκριμένη εγγραφή;</h3>
<div>
    <h4>Ζύγισμα</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zygisma.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zygisma.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zygisma.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zygisma.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zygisma.Vehicle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zygisma.Vehicle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zygisma.Invoice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zygisma.Invoice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zygisma.GrossWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zygisma.GrossWeight)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Zygisma.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Επιστροφή στην Αρχική Σελίδα</a>
    </form>
</div>
